{%- if page.lang == 'en' and site.title_en -%}
  {%- assign _site_title = site.title_en -%}
{%- else -%}
  {%- assign _site_title = site.title -%}
{%- endif -%}
{%- if page.lang == 'en' and site.description_en -%}
  {%- assign _site_description = site.description_en -%}
{%- else -%}
  {%- assign _site_description = site.description -%}
{%- endif -%}
<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading notranslate" translate="no">{{ _site_title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              <span class="notranslate" translate="no">{{ _site_title | escape }}</span>
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p class="notranslate" translate="no">{{- _site_description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
